<style>
    .policy {
        padding: 20px 0;
        position: sticky;
    }
    .policy .plink {
        text-align: center;
    }
</style>
<div class="policy">
    <div class="row">
        <div class="col-xs-12 divider">
            <hr/>
        </div>
    </div>
    <div class="plink">
        <a href="https://wedocs.unep.org/bitstream/handle/20.500.11822/37132/21ig25_27_2510_eng.pdf" target="_blank" rel="noopener noreferrer">Data Policy</a> | <a href="http://www.info-rac.org/en/privacy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
    </div>
</div>